<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Choreganizer.Properties.Settings.choreganizer_ARConnectionString"
            connectionString="Data Source=choreganizerdb.cg1zijglf85b.us-east-2.rds.amazonaws.com,1433;Initial Catalog=choreganizer_AR;Persist Security Info=True;User ID=shihan2020;Password=Psycobetabuckdown"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>